* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 120px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
}

.header > h1 {
  font-size: 3em;
  color: white;
  text-shadow: black 2px 3px 2px;
  font-family: fantasy;
  opacity: 0.7;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

body {
  background-image: url('./hp.jpg');
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}

.main-container {
  display: flex;

}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 650px;
  flex-direction: column;
}

.trybewarts-header-logo {
  width: 80px;
  margin-left: 20px;
  opacity: 0.7;
}

.trybewarts-header-logo:hover {
  opacity: 1;
}

#trybewarts-forms-logo {
  height: 500px;
  position: absolute;
  left: 60%;
  margin-top: 20px;
  transition: -webkit-transform 0.5s ease;
}

#trybewarts-forms-logo:hover {
  transform: scale(1.1);
}

#nome-sobrenome {
  display: flex;
  padding: 10px;

}

#email-casa {
  display: flex;
  padding: 10px;
}

.family-input {
  display: grid;
}

#textarea {
  resize: none;
  width: 500px;
  height: 200px;
}

body footer {
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  color: wheat;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  
}
